<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>
	LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQ0lqQU5CZ2txaGtpRzl3MEJBUUVG
	QUFPQ0FnOEFNSUlDQ2dLQ0FnRUE1aHEySWNoYzNHU2ZTcnZtSGdMbAo5UThadXNqcUxF
	UGJ4ZUkwUDk5UE11STJZTXA0QkxXeml6V3J4TFdMaEZZYXZsbld0dElnRGJ1cXRPWFg3
	dHIrCjJtWEZDUDlnbm5pbWNJWTZhcWhxUU11SDg1NTF4UHlucC9JYVdiUG50anlMcFBk
	TE05WGIxTU54V3NSY2FQaS8KdG9jNnJLazRzcForbFNDdko2c2VKaXlQbWRFajV3dm54
	Rkk5b1BkRkFLclRKWEJHTjdLc1V0SzM1a1l1M3Y0eQpIKzArVDl6SDRzU0RPN2hpVGhN
	L0RmaVk0SFROQUNkUUdkVnhqNjZJRXJ0dkZhTXUwQ2RybFV5bGtMZWJvWW5VCjhrd05Z
	UUFoejBJQTFqV2Y0K2FkYnlVOXVSK0h2dEZrSWYvcklHU09lWTdtVjNnL25MM3RvYS8y
	T2lsZU9RVFkKRjdLK2VxdE1nU255UzZtampsTi9DWlFoaG5SMER1SUZIeWdEZFR0clFh
	UlJ1SU9DeEV6cmgzRnFmbkdlWlhxcgp3VjN4aHRKT1dneCszYnY4K3h2Y1hjYTkrakNW
	SHpIT1lWZ3ZKQjZvT1VPWTBzYnFKaFMzaUk1QlNNdGhLZkRuClgrM2lQSVlCc2draWJC
	cEY2YytCMnhTZ0toWlFFL2hGMkdOVWN0dThNVU1oem0zdHpkM3ZTRmozSzZROHFVS2cK
	cWJZc3dVV0RGdFRnMWJFUTlqS1NDRkQ5WlZnaThMUURodklBRTBmL2NGQkEwY3F0Kzdo
	V2NBYS9UOWN3K0Z5eQpEb2MrSFZvMThOdURJdExpMG9RcFFmWnZFSGt1SlBxSnhCRUR1
	cjJTVDA2TUFPNTJlYlcyMU85aU5kMnI2TGVxCkpCL1hIelBlQVpsejE0dmh0L214Z2pF
	Q0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>public-key-size</key>
	<integer>4096</integer>
	<key>signature-by</key>
	<string>Altore Repo</string>
</dict>
</plist>
